input[type="date"] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  text-shadow: none;
  text-rendering: auto;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:focus {
    border: 1px solid #000;
  }
}
